.moviecard{
    border: 4mm ridge skyblue;
    padding: auto;
    background-color: rgb(255, 255, 255);
    border: 2mm ridge rgb(249, 54, 54);
    padding: 25px;
    width: 200px;
    height: 340px;
    font-family: 'Trebuchet MS', sans-serif;
}

.moviecard:hover{
    transform: scale(1.2);
}

.movietitle{
    font-size:large;
}


.moviepic{
    width: 130px;
    height: 170px;
}
