.sidebar {
    position: fixed;
    top: 0;
    left: -500px;
    width: 500px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
    z-index: 1;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    color: white;
    text-emphasis: bold;
    font-size: larger;
    font-weight: 900;
}

.sidebar button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
